<h1>Your Cart</h1>

<div>
  <% if @line_items != [] || @line_items != nil %>
    <ul>
      <% @line_items.each do |item| %>
        <li><%= item.product.name %></li>
        <li><%= number_to_currency item.product.price %></li>
        <li>Quantity: <%= item.quantity %></li>
        <li>Subtotal: <%= number_to_currency item.line_item_total %></li>
        <br>
      <% end %>
    </ul>
    <%= link_to "Proceed to Checkout", checkout_path, class: "btn btn-primary" %>
  <% else %>
    <p>Your cart is empty.  Go buy something!</p>
    <p><%= link_to "Continue shopping", root_path, class: "btn btn-light" %> 
  <% end %>
</div>

